body{
	background-color: #2e380833;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
}

.container{
    border:  1px #333 solid;
}

.container-h{
    color: #333;
    background-color: rgb(4, 8, 245);
    display: flex;
}

.container-n {
    background-color: rgb(9, 156, 253);
    border: #333 solid 1px;   

}



.container-n li{
    display: inline-block;
    position: relative;
    text-align: left;
    line-height: 21px;
}

.container-n ul{
    padding: 0;
    list-style: none;
}



.container-n ul li a{
    border: 5px solid #333;
    border-radius: 5px;
    padding:  8px 25px;
    display: block;
    text-decoration:none;

}

.container-n ul li a:hover{
    color:#fff;
    background-color: aqua;
}

.container-n ul li ul.dropdown{
  min-width: 100%;
  background-color: #f2f2f2;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
}

.container-n ul li:hover ul.dropdown{
  display: block;
}

.container-n ul li ul.dropdown li {
  display: block;
}